div {
  height: 5px;
}
div:nth-child(1000) {
  background: hsl(280, 100%, 50%);
}
div:nth-child(999) {
  background: hsl(270, 100%, 50%);
}
div:nth-child(998) {
  background: hsl(260, 100%, 50%);
}
div:nth-child(997) {
  background: hsl(250, 100%, 50%);
}
div:nth-child(996) {
  background: hsl(240, 100%, 50%);
}
div:nth-child(995) {
  background: hsl(230, 100%, 50%);
}
div:nth-child(994) {
  background: hsl(220, 100%, 50%);
}
div:nth-child(993) {
  background: hsl(210, 100%, 50%);
}
div:nth-child(992) {
  background: hsl(200, 100%, 50%);
}
div:nth-child(991) {
  background: hsl(190, 100%, 50%);
}
div:nth-child(990) {
  background: hsl(180, 100%, 50%);
}
div:nth-child(989) {
  background: hsl(170, 100%, 50%);
}
div:nth-child(988) {
  background: hsl(160, 100%, 50%);
}
div:nth-child(987) {
  background: hsl(150, 100%, 50%);
}
div:nth-child(986) {
  background: hsl(140, 100%, 50%);
}
div:nth-child(985) {
  background: hsl(130, 100%, 50%);
}
div:nth-child(984) {
  background: hsl(120, 100%, 50%);
}
div:nth-child(983) {
  background: hsl(110, 100%, 50%);
}
div:nth-child(982) {
  background: hsl(100, 100%, 50%);
}
div:nth-child(981) {
  background: hsl(90, 100%, 50%);
}
div:nth-child(980) {
  background: hsl(80, 100%, 50%);
}
div:nth-child(979) {
  background: hsl(70, 100%, 50%);
}
div:nth-child(978) {
  background: hsl(60, 100%, 50%);
}
div:nth-child(977) {
  background: hsl(50, 100%, 50%);
}
div:nth-child(976) {
  background: hsl(40, 100%, 50%);
}
div:nth-child(975) {
  background: hsl(30, 100%, 50%);
}
div:nth-child(974) {
  background: hsl(20, 100%, 50%);
}
div:nth-child(973) {
  background: hsl(10, 100%, 50%);
}
div:nth-child(972) {
  background: hsl(0, 100%, 50%);
}
div:nth-child(971) {
  background: hsl(350, 100%, 50%);
}
div:nth-child(970) {
  background: hsl(340, 100%, 50%);
}
div:nth-child(969) {
  background: hsl(330, 100%, 50%);
}
div:nth-child(968) {
  background: hsl(320, 100%, 50%);
}
div:nth-child(967) {
  background: hsl(310, 100%, 50%);
}
div:nth-child(966) {
  background: hsl(300, 100%, 50%);
}
div:nth-child(965) {
  background: hsl(290, 100%, 50%);
}
div:nth-child(964) {
  background: hsl(280, 100%, 50%);
}
div:nth-child(963) {
  background: hsl(270, 100%, 50%);
}
div:nth-child(962) {
  background: hsl(260, 100%, 50%);
}
div:nth-child(961) {
  background: hsl(250, 100%, 50%);
}
div:nth-child(960) {
  background: hsl(240, 100%, 50%);
}
div:nth-child(959) {
  background: hsl(230, 100%, 50%);
}
div:nth-child(958) {
  background: hsl(220, 100%, 50%);
}
div:nth-child(957) {
  background: hsl(210, 100%, 50%);
}
div:nth-child(956) {
  background: hsl(200, 100%, 50%);
}
div:nth-child(955) {
  background: hsl(190, 100%, 50%);
}
div:nth-child(954) {
  background: hsl(180, 100%, 50%);
}
div:nth-child(953) {
  background: hsl(170, 100%, 50%);
}
div:nth-child(952) {
  background: hsl(160, 100%, 50%);
}
div:nth-child(951) {
  background: hsl(150, 100%, 50%);
}
div:nth-child(950) {
  background: hsl(140, 100%, 50%);
}
div:nth-child(949) {
  background: hsl(130, 100%, 50%);
}
div:nth-child(948) {
  background: hsl(120, 100%, 50%);
}
div:nth-child(947) {
  background: hsl(110, 100%, 50%);
}
div:nth-child(946) {
  background: hsl(100, 100%, 50%);
}
div:nth-child(945) {
  background: hsl(90, 100%, 50%);
}
div:nth-child(944) {
  background: hsl(80, 100%, 50%);
}
div:nth-child(943) {
  background: hsl(70, 100%, 50%);
}
div:nth-child(942) {
  background: hsl(60, 100%, 50%);
}
div:nth-child(941) {
  background: hsl(50, 100%, 50%);
}
div:nth-child(940) {
  background: hsl(40, 100%, 50%);
}
div:nth-child(939) {
  background: hsl(30, 100%, 50%);
}
div:nth-child(938) {
  background: hsl(20, 100%, 50%);
}
div:nth-child(937) {
  background: hsl(10, 100%, 50%);
}
div:nth-child(936) {
  background: hsl(0, 100%, 50%);
}
div:nth-child(935) {
  background: hsl(350, 100%, 50%);
}
div:nth-child(934) {
  background: hsl(340, 100%, 50%);
}
div:nth-child(933) {
  background: hsl(330, 100%, 50%);
}
div:nth-child(932) {
  background: hsl(320, 100%, 50%);
}
div:nth-child(931) {
  background: hsl(310, 100%, 50%);
}
div:nth-child(930) {
  background: hsl(300, 100%, 50%);
}
div:nth-child(929) {
  background: hsl(290, 100%, 50%);
}
div:nth-child(928) {
  background: hsl(280, 100%, 50%);
}
div:nth-child(927) {
  background: hsl(270, 100%, 50%);
}
div:nth-child(926) {
  background: hsl(260, 100%, 50%);
}
div:nth-child(925) {
  background: hsl(250, 100%, 50%);
}
div:nth-child(924) {
  background: hsl(240, 100%, 50%);
}
div:nth-child(923) {
  background: hsl(230, 100%, 50%);
}
div:nth-child(922) {
  background: hsl(220, 100%, 50%);
}
div:nth-child(921) {
  background: hsl(210, 100%, 50%);
}
div:nth-child(920) {
  background: hsl(200, 100%, 50%);
}
div:nth-child(919) {
  background: hsl(190, 100%, 50%);
}
div:nth-child(918) {
  background: hsl(180, 100%, 50%);
}
div:nth-child(917) {
  background: hsl(170, 100%, 50%);
}
div:nth-child(916) {
  background: hsl(160, 100%, 50%);
}
div:nth-child(915) {
  background: hsl(150, 100%, 50%);
}
div:nth-child(914) {
  background: hsl(140, 100%, 50%);
}
div:nth-child(913) {
  background: hsl(130, 100%, 50%);
}
div:nth-child(912) {
  background: hsl(120, 100%, 50%);
}
div:nth-child(911) {
  background: hsl(110, 100%, 50%);
}
div:nth-child(910) {
  background: hsl(100, 100%, 50%);
}
div:nth-child(909) {
  background: hsl(90, 100%, 50%);
}
div:nth-child(908) {
  background: hsl(80, 100%, 50%);
}
div:nth-child(907) {
  background: hsl(70, 100%, 50%);
}
div:nth-child(906) {
  background: hsl(60, 100%, 50%);
}
div:nth-child(905) {
  background: hsl(50, 100%, 50%);
}
div:nth-child(904) {
  background: hsl(40, 100%, 50%);
}
div:nth-child(903) {
  background: hsl(30, 100%, 50%);
}
div:nth-child(902) {
  background: hsl(20, 100%, 50%);
}
div:nth-child(901) {
  background: hsl(10, 100%, 50%);
}
div:nth-child(900) {
  background: hsl(0, 100%, 50%);
}
div:nth-child(899) {
  background: hsl(350, 100%, 50%);
}
div:nth-child(898) {
  background: hsl(340, 100%, 50%);
}
div:nth-child(897) {
  background: hsl(330, 100%, 50%);
}
div:nth-child(896) {
  background: hsl(320, 100%, 50%);
}
div:nth-child(895) {
  background: hsl(310, 100%, 50%);
}
div:nth-child(894) {
  background: hsl(300, 100%, 50%);
}
div:nth-child(893) {
  background: hsl(290, 100%, 50%);
}
div:nth-child(892) {
  background: hsl(280, 100%, 50%);
}
div:nth-child(891) {
  background: hsl(270, 100%, 50%);
}
div:nth-child(890) {
  background: hsl(260, 100%, 50%);
}
div:nth-child(889) {
  background: hsl(250, 100%, 50%);
}
div:nth-child(888) {
  background: hsl(240, 100%, 50%);
}
div:nth-child(887) {
  background: hsl(230, 100%, 50%);
}
div:nth-child(886) {
  background: hsl(220, 100%, 50%);
}
div:nth-child(885) {
  background: hsl(210, 100%, 50%);
}
div:nth-child(884) {
  background: hsl(200, 100%, 50%);
}
div:nth-child(883) {
  background: hsl(190, 100%, 50%);
}
div:nth-child(882) {
  background: hsl(180, 100%, 50%);
}
div:nth-child(881) {
  background: hsl(170, 100%, 50%);
}
div:nth-child(880) {
  background: hsl(160, 100%, 50%);
}
div:nth-child(879) {
  background: hsl(150, 100%, 50%);
}
div:nth-child(878) {
  background: hsl(140, 100%, 50%);
}
div:nth-child(877) {
  background: hsl(130, 100%, 50%);
}
div:nth-child(876) {
  background: hsl(120, 100%, 50%);
}
div:nth-child(875) {
  background: hsl(110, 100%, 50%);
}
div:nth-child(874) {
  background: hsl(100, 100%, 50%);
}
div:nth-child(873) {
  background: hsl(90, 100%, 50%);
}
div:nth-child(872) {
  background: hsl(80, 100%, 50%);
}
div:nth-child(871) {
  background: hsl(70, 100%, 50%);
}
div:nth-child(870) {
  background: hsl(60, 100%, 50%);
}
div:nth-child(869) {
  background: hsl(50, 100%, 50%);
}
div:nth-child(868) {
  background: hsl(40, 100%, 50%);
}
div:nth-child(867) {
  background: hsl(30, 100%, 50%);
}
div:nth-child(866) {
  background: hsl(20, 100%, 50%);
}
div:nth-child(865) {
  background: hsl(10, 100%, 50%);
}
div:nth-child(864) {
  background: hsl(0, 100%, 50%);
}
div:nth-child(863) {
  background: hsl(350, 100%, 50%);
}
div:nth-child(862) {
  background: hsl(340, 100%, 50%);
}
div:nth-child(861) {
  background: hsl(330, 100%, 50%);
}
div:nth-child(860) {
  background: hsl(320, 100%, 50%);
}
div:nth-child(859) {
  background: hsl(310, 100%, 50%);
}
div:nth-child(858) {
  background: hsl(300, 100%, 50%);
}
div:nth-child(857) {
  background: hsl(290, 100%, 50%);
}
div:nth-child(856) {
  background: hsl(280, 100%, 50%);
}
div:nth-child(855) {
  background: hsl(270, 100%, 50%);
}
div:nth-child(854) {
  background: hsl(260, 100%, 50%);
}
div:nth-child(853) {
  background: hsl(250, 100%, 50%);
}
div:nth-child(852) {
  background: hsl(240, 100%, 50%);
}
div:nth-child(851) {
  background: hsl(230, 100%, 50%);
}
div:nth-child(850) {
  background: hsl(220, 100%, 50%);
}
div:nth-child(849) {
  background: hsl(210, 100%, 50%);
}
div:nth-child(848) {
  background: hsl(200, 100%, 50%);
}
div:nth-child(847) {
  background: hsl(190, 100%, 50%);
}
div:nth-child(846) {
  background: hsl(180, 100%, 50%);
}
div:nth-child(845) {
  background: hsl(170, 100%, 50%);
}
div:nth-child(844) {
  background: hsl(160, 100%, 50%);
}
div:nth-child(843) {
  background: hsl(150, 100%, 50%);
}
div:nth-child(842) {
  background: hsl(140, 100%, 50%);
}
div:nth-child(841) {
  background: hsl(130, 100%, 50%);
}
div:nth-child(840) {
  background: hsl(120, 100%, 50%);
}
div:nth-child(839) {
  background: hsl(110, 100%, 50%);
}
div:nth-child(838) {
  background: hsl(100, 100%, 50%);
}
div:nth-child(837) {
  background: hsl(90, 100%, 50%);
}
div:nth-child(836) {
  background: hsl(80, 100%, 50%);
}
div:nth-child(835) {
  background: hsl(70, 100%, 50%);
}
div:nth-child(834) {
  background: hsl(60, 100%, 50%);
}
div:nth-child(833) {
  background: hsl(50, 100%, 50%);
}
div:nth-child(832) {
  background: hsl(40, 100%, 50%);
}
div:nth-child(831) {
  background: hsl(30, 100%, 50%);
}
div:nth-child(830) {
  background: hsl(20, 100%, 50%);
}
div:nth-child(829) {
  background: hsl(10, 100%, 50%);
}
div:nth-child(828) {
  background: hsl(0, 100%, 50%);
}
div:nth-child(827) {
  background: hsl(350, 100%, 50%);
}
div:nth-child(826) {
  background: hsl(340, 100%, 50%);
}
div:nth-child(825) {
  background: hsl(330, 100%, 50%);
}
div:nth-child(824) {
  background: hsl(320, 100%, 50%);
}
div:nth-child(823) {
  background: hsl(310, 100%, 50%);
}
div:nth-child(822) {
  background: hsl(300, 100%, 50%);
}
div:nth-child(821) {
  background: hsl(290, 100%, 50%);
}
div:nth-child(820) {
  background: hsl(280, 100%, 50%);
}
div:nth-child(819) {
  background: hsl(270, 100%, 50%);
}
div:nth-child(818) {
  background: hsl(260, 100%, 50%);
}
div:nth-child(817) {
  background: hsl(250, 100%, 50%);
}
div:nth-child(816) {
  background: hsl(240, 100%, 50%);
}
div:nth-child(815) {
  background: hsl(230, 100%, 50%);
}
div:nth-child(814) {
  background: hsl(220, 100%, 50%);
}
div:nth-child(813) {
  background: hsl(210, 100%, 50%);
}
div:nth-child(812) {
  background: hsl(200, 100%, 50%);
}
div:nth-child(811) {
  background: hsl(190, 100%, 50%);
}
div:nth-child(810) {
  background: hsl(180, 100%, 50%);
}
div:nth-child(809) {
  background: hsl(170, 100%, 50%);
}
div:nth-child(808) {
  background: hsl(160, 100%, 50%);
}
div:nth-child(807) {
  background: hsl(150, 100%, 50%);
}
div:nth-child(806) {
  background: hsl(140, 100%, 50%);
}
div:nth-child(805) {
  background: hsl(130, 100%, 50%);
}
div:nth-child(804) {
  background: hsl(120, 100%, 50%);
}
div:nth-child(803) {
  background: hsl(110, 100%, 50%);
}
div:nth-child(802) {
  background: hsl(100, 100%, 50%);
}
div:nth-child(801) {
  background: hsl(90, 100%, 50%);
}
div:nth-child(800) {
  background: hsl(80, 100%, 50%);
}
div:nth-child(799) {
  background: hsl(70, 100%, 50%);
}
div:nth-child(798) {
  background: hsl(60, 100%, 50%);
}
div:nth-child(797) {
  background: hsl(50, 100%, 50%);
}
div:nth-child(796) {
  background: hsl(40, 100%, 50%);
}
div:nth-child(795) {
  background: hsl(30, 100%, 50%);
}
div:nth-child(794) {
  background: hsl(20, 100%, 50%);
}
div:nth-child(793) {
  background: hsl(10, 100%, 50%);
}
div:nth-child(792) {
  background: hsl(0, 100%, 50%);
}
div:nth-child(791) {
  background: hsl(350, 100%, 50%);
}
div:nth-child(790) {
  background: hsl(340, 100%, 50%);
}
div:nth-child(789) {
  background: hsl(330, 100%, 50%);
}
div:nth-child(788) {
  background: hsl(320, 100%, 50%);
}
div:nth-child(787) {
  background: hsl(310, 100%, 50%);
}
div:nth-child(786) {
  background: hsl(300, 100%, 50%);
}
div:nth-child(785) {
  background: hsl(290, 100%, 50%);
}
div:nth-child(784) {
  background: hsl(280, 100%, 50%);
}
div:nth-child(783) {
  background: hsl(270, 100%, 50%);
}
div:nth-child(782) {
  background: hsl(260, 100%, 50%);
}
div:nth-child(781) {
  background: hsl(250, 100%, 50%);
}
div:nth-child(780) {
  background: hsl(240, 100%, 50%);
}
div:nth-child(779) {
  background: hsl(230, 100%, 50%);
}
div:nth-child(778) {
  background: hsl(220, 100%, 50%);
}
div:nth-child(777) {
  background: hsl(210, 100%, 50%);
}
div:nth-child(776) {
  background: hsl(200, 100%, 50%);
}
div:nth-child(775) {
  background: hsl(190, 100%, 50%);
}
div:nth-child(774) {
  background: hsl(180, 100%, 50%);
}
div:nth-child(773) {
  background: hsl(170, 100%, 50%);
}
div:nth-child(772) {
  background: hsl(160, 100%, 50%);
}
div:nth-child(771) {
  background: hsl(150, 100%, 50%);
}
div:nth-child(770) {
  background: hsl(140, 100%, 50%);
}
div:nth-child(769) {
  background: hsl(130, 100%, 50%);
}
div:nth-child(768) {
  background: hsl(120, 100%, 50%);
}
div:nth-child(767) {
  background: hsl(110, 100%, 50%);
}
div:nth-child(766) {
  background: hsl(100, 100%, 50%);
}
div:nth-child(765) {
  background: hsl(90, 100%, 50%);
}
div:nth-child(764) {
  background: hsl(80, 100%, 50%);
}
div:nth-child(763) {
  background: hsl(70, 100%, 50%);
}
div:nth-child(762) {
  background: hsl(60, 100%, 50%);
}
div:nth-child(761) {
  background: hsl(50, 100%, 50%);
}
div:nth-child(760) {
  background: hsl(40, 100%, 50%);
}
div:nth-child(759) {
  background: hsl(30, 100%, 50%);
}
div:nth-child(758) {
  background: hsl(20, 100%, 50%);
}
div:nth-child(757) {
  background: hsl(10, 100%, 50%);
}
div:nth-child(756) {
  background: hsl(0, 100%, 50%);
}
div:nth-child(755) {
  background: hsl(350, 100%, 50%);
}
div:nth-child(754) {
  background: hsl(340, 100%, 50%);
}
div:nth-child(753) {
  background: hsl(330, 100%, 50%);
}
div:nth-child(752) {
  background: hsl(320, 100%, 50%);
}
div:nth-child(751) {
  background: hsl(310, 100%, 50%);
}
div:nth-child(750) {
  background: hsl(300, 100%, 50%);
}
div:nth-child(749) {
  background: hsl(290, 100%, 50%);
}
div:nth-child(748) {
  background: hsl(280, 100%, 50%);
}
div:nth-child(747) {
  background: hsl(270, 100%, 50%);
}
div:nth-child(746) {
  background: hsl(260, 100%, 50%);
}
div:nth-child(745) {
  background: hsl(250, 100%, 50%);
}
div:nth-child(744) {
  background: hsl(240, 100%, 50%);
}
div:nth-child(743) {
  background: hsl(230, 100%, 50%);
}
div:nth-child(742) {
  background: hsl(220, 100%, 50%);
}
div:nth-child(741) {
  background: hsl(210, 100%, 50%);
}
div:nth-child(740) {
  background: hsl(200, 100%, 50%);
}
div:nth-child(739) {
  background: hsl(190, 100%, 50%);
}
div:nth-child(738) {
  background: hsl(180, 100%, 50%);
}
div:nth-child(737) {
  background: hsl(170, 100%, 50%);
}
div:nth-child(736) {
  background: hsl(160, 100%, 50%);
}
div:nth-child(735) {
  background: hsl(150, 100%, 50%);
}
div:nth-child(734) {
  background: hsl(140, 100%, 50%);
}
div:nth-child(733) {
  background: hsl(130, 100%, 50%);
}
div:nth-child(732) {
  background: hsl(120, 100%, 50%);
}
div:nth-child(731) {
  background: hsl(110, 100%, 50%);
}
div:nth-child(730) {
  background: hsl(100, 100%, 50%);
}
div:nth-child(729) {
  background: hsl(90, 100%, 50%);
}
div:nth-child(728) {
  background: hsl(80, 100%, 50%);
}
div:nth-child(727) {
  background: hsl(70, 100%, 50%);
}
div:nth-child(726) {
  background: hsl(60, 100%, 50%);
}
div:nth-child(725) {
  background: hsl(50, 100%, 50%);
}
div:nth-child(724) {
  background: hsl(40, 100%, 50%);
}
div:nth-child(723) {
  background: hsl(30, 100%, 50%);
}
div:nth-child(722) {
  background: hsl(20, 100%, 50%);
}
div:nth-child(721) {
  background: hsl(10, 100%, 50%);
}
div:nth-child(720) {
  background: hsl(0, 100%, 50%);
}
div:nth-child(719) {
  background: hsl(350, 100%, 50%);
}
div:nth-child(718) {
  background: hsl(340, 100%, 50%);
}
div:nth-child(717) {
  background: hsl(330, 100%, 50%);
}
div:nth-child(716) {
  background: hsl(320, 100%, 50%);
}
div:nth-child(715) {
  background: hsl(310, 100%, 50%);
}
div:nth-child(714) {
  background: hsl(300, 100%, 50%);
}
div:nth-child(713) {
  background: hsl(290, 100%, 50%);
}
div:nth-child(712) {
  background: hsl(280, 100%, 50%);
}
div:nth-child(711) {
  background: hsl(270, 100%, 50%);
}
div:nth-child(710) {
  background: hsl(260, 100%, 50%);
}
div:nth-child(709) {
  background: hsl(250, 100%, 50%);
}
div:nth-child(708) {
  background: hsl(240, 100%, 50%);
}
div:nth-child(707) {
  background: hsl(230, 100%, 50%);
}
div:nth-child(706) {
  background: hsl(220, 100%, 50%);
}
div:nth-child(705) {
  background: hsl(210, 100%, 50%);
}
div:nth-child(704) {
  background: hsl(200, 100%, 50%);
}
div:nth-child(703) {
  background: hsl(190, 100%, 50%);
}
div:nth-child(702) {
  background: hsl(180, 100%, 50%);
}
div:nth-child(701) {
  background: hsl(170, 100%, 50%);
}
div:nth-child(700) {
  background: hsl(160, 100%, 50%);
}
div:nth-child(699) {
  background: hsl(150, 100%, 50%);
}
div:nth-child(698) {
  background: hsl(140, 100%, 50%);
}
div:nth-child(697) {
  background: hsl(130, 100%, 50%);
}
div:nth-child(696) {
  background: hsl(120, 100%, 50%);
}
div:nth-child(695) {
  background: hsl(110, 100%, 50%);
}
div:nth-child(694) {
  background: hsl(100, 100%, 50%);
}
div:nth-child(693) {
  background: hsl(90, 100%, 50%);
}
div:nth-child(692) {
  background: hsl(80, 100%, 50%);
}
div:nth-child(691) {
  background: hsl(70, 100%, 50%);
}
div:nth-child(690) {
  background: hsl(60, 100%, 50%);
}
div:nth-child(689) {
  background: hsl(50, 100%, 50%);
}
div:nth-child(688) {
  background: hsl(40, 100%, 50%);
}
div:nth-child(687) {
  background: hsl(30, 100%, 50%);
}
div:nth-child(686) {
  background: hsl(20, 100%, 50%);
}
div:nth-child(685) {
  background: hsl(10, 100%, 50%);
}
div:nth-child(684) {
  background: hsl(0, 100%, 50%);
}
div:nth-child(683) {
  background: hsl(350, 100%, 50%);
}
div:nth-child(682) {
  background: hsl(340, 100%, 50%);
}
div:nth-child(681) {
  background: hsl(330, 100%, 50%);
}
div:nth-child(680) {
  background: hsl(320, 100%, 50%);
}
div:nth-child(679) {
  background: hsl(310, 100%, 50%);
}
div:nth-child(678) {
  background: hsl(300, 100%, 50%);
}
div:nth-child(677) {
  background: hsl(290, 100%, 50%);
}
div:nth-child(676) {
  background: hsl(280, 100%, 50%);
}
div:nth-child(675) {
  background: hsl(270, 100%, 50%);
}
div:nth-child(674) {
  background: hsl(260, 100%, 50%);
}
div:nth-child(673) {
  background: hsl(250, 100%, 50%);
}
div:nth-child(672) {
  background: hsl(240, 100%, 50%);
}
div:nth-child(671) {
  background: hsl(230, 100%, 50%);
}
div:nth-child(670) {
  background: hsl(220, 100%, 50%);
}
div:nth-child(669) {
  background: hsl(210, 100%, 50%);
}
div:nth-child(668) {
  background: hsl(200, 100%, 50%);
}
div:nth-child(667) {
  background: hsl(190, 100%, 50%);
}
div:nth-child(666) {
  background: hsl(180, 100%, 50%);
}
div:nth-child(665) {
  background: hsl(170, 100%, 50%);
}
div:nth-child(664) {
  background: hsl(160, 100%, 50%);
}
div:nth-child(663) {
  background: hsl(150, 100%, 50%);
}
div:nth-child(662) {
  background: hsl(140, 100%, 50%);
}
div:nth-child(661) {
  background: hsl(130, 100%, 50%);
}
div:nth-child(660) {
  background: hsl(120, 100%, 50%);
}
div:nth-child(659) {
  background: hsl(110, 100%, 50%);
}
div:nth-child(658) {
  background: hsl(100, 100%, 50%);
}
div:nth-child(657) {
  background: hsl(90, 100%, 50%);
}
div:nth-child(656) {
  background: hsl(80, 100%, 50%);
}
div:nth-child(655) {
  background: hsl(70, 100%, 50%);
}
div:nth-child(654) {
  background: hsl(60, 100%, 50%);
}
div:nth-child(653) {
  background: hsl(50, 100%, 50%);
}
div:nth-child(652) {
  background: hsl(40, 100%, 50%);
}
div:nth-child(651) {
  background: hsl(30, 100%, 50%);
}
div:nth-child(650) {
  background: hsl(20, 100%, 50%);
}
div:nth-child(649) {
  background: hsl(10, 100%, 50%);
}
div:nth-child(648) {
  background: hsl(0, 100%, 50%);
}
div:nth-child(647) {
  background: hsl(350, 100%, 50%);
}
div:nth-child(646) {
  background: hsl(340, 100%, 50%);
}
div:nth-child(645) {
  background: hsl(330, 100%, 50%);
}
div:nth-child(644) {
  background: hsl(320, 100%, 50%);
}
div:nth-child(643) {
  background: hsl(310, 100%, 50%);
}
div:nth-child(642) {
  background: hsl(300, 100%, 50%);
}
div:nth-child(641) {
  background: hsl(290, 100%, 50%);
}
div:nth-child(640) {
  background: hsl(280, 100%, 50%);
}
div:nth-child(639) {
  background: hsl(270, 100%, 50%);
}
div:nth-child(638) {
  background: hsl(260, 100%, 50%);
}
div:nth-child(637) {
  background: hsl(250, 100%, 50%);
}
div:nth-child(636) {
  background: hsl(240, 100%, 50%);
}
div:nth-child(635) {
  background: hsl(230, 100%, 50%);
}
div:nth-child(634) {
  background: hsl(220, 100%, 50%);
}
div:nth-child(633) {
  background: hsl(210, 100%, 50%);
}
div:nth-child(632) {
  background: hsl(200, 100%, 50%);
}
div:nth-child(631) {
  background: hsl(190, 100%, 50%);
}
div:nth-child(630) {
  background: hsl(180, 100%, 50%);
}
div:nth-child(629) {
  background: hsl(170, 100%, 50%);
}
div:nth-child(628) {
  background: hsl(160, 100%, 50%);
}
div:nth-child(627) {
  background: hsl(150, 100%, 50%);
}
div:nth-child(626) {
  background: hsl(140, 100%, 50%);
}
div:nth-child(625) {
  background: hsl(130, 100%, 50%);
}
div:nth-child(624) {
  background: hsl(120, 100%, 50%);
}
div:nth-child(623) {
  background: hsl(110, 100%, 50%);
}
div:nth-child(622) {
  background: hsl(100, 100%, 50%);
}
div:nth-child(621) {
  background: hsl(90, 100%, 50%);
}
div:nth-child(620) {
  background: hsl(80, 100%, 50%);
}
div:nth-child(619) {
  background: hsl(70, 100%, 50%);
}
div:nth-child(618) {
  background: hsl(60, 100%, 50%);
}
div:nth-child(617) {
  background: hsl(50, 100%, 50%);
}
div:nth-child(616) {
  background: hsl(40, 100%, 50%);
}
div:nth-child(615) {
  background: hsl(30, 100%, 50%);
}
div:nth-child(614) {
  background: hsl(20, 100%, 50%);
}
div:nth-child(613) {
  background: hsl(10, 100%, 50%);
}
div:nth-child(612) {
  background: hsl(0, 100%, 50%);
}
div:nth-child(611) {
  background: hsl(350, 100%, 50%);
}
div:nth-child(610) {
  background: hsl(340, 100%, 50%);
}
div:nth-child(609) {
  background: hsl(330, 100%, 50%);
}
div:nth-child(608) {
  background: hsl(320, 100%, 50%);
}
div:nth-child(607) {
  background: hsl(310, 100%, 50%);
}
div:nth-child(606) {
  background: hsl(300, 100%, 50%);
}
div:nth-child(605) {
  background: hsl(290, 100%, 50%);
}
div:nth-child(604) {
  background: hsl(280, 100%, 50%);
}
div:nth-child(603) {
  background: hsl(270, 100%, 50%);
}
div:nth-child(602) {
  background: hsl(260, 100%, 50%);
}
div:nth-child(601) {
  background: hsl(250, 100%, 50%);
}
div:nth-child(600) {
  background: hsl(240, 100%, 50%);
}
div:nth-child(599) {
  background: hsl(230, 100%, 50%);
}
div:nth-child(598) {
  background: hsl(220, 100%, 50%);
}
div:nth-child(597) {
  background: hsl(210, 100%, 50%);
}
div:nth-child(596) {
  background: hsl(200, 100%, 50%);
}
div:nth-child(595) {
  background: hsl(190, 100%, 50%);
}
div:nth-child(594) {
  background: hsl(180, 100%, 50%);
}
div:nth-child(593) {
  background: hsl(170, 100%, 50%);
}
div:nth-child(592) {
  background: hsl(160, 100%, 50%);
}
div:nth-child(591) {
  background: hsl(150, 100%, 50%);
}
div:nth-child(590) {
  background: hsl(140, 100%, 50%);
}
div:nth-child(589) {
  background: hsl(130, 100%, 50%);
}
div:nth-child(588) {
  background: hsl(120, 100%, 50%);
}
div:nth-child(587) {
  background: hsl(110, 100%, 50%);
}
div:nth-child(586) {
  background: hsl(100, 100%, 50%);
}
div:nth-child(585) {
  background: hsl(90, 100%, 50%);
}
div:nth-child(584) {
  background: hsl(80, 100%, 50%);
}
div:nth-child(583) {
  background: hsl(70, 100%, 50%);
}
div:nth-child(582) {
  background: hsl(60, 100%, 50%);
}
div:nth-child(581) {
  background: hsl(50, 100%, 50%);
}
div:nth-child(580) {
  background: hsl(40, 100%, 50%);
}
div:nth-child(579) {
  background: hsl(30, 100%, 50%);
}
div:nth-child(578) {
  background: hsl(20, 100%, 50%);
}
div:nth-child(577) {
  background: hsl(10, 100%, 50%);
}
div:nth-child(576) {
  background: hsl(0, 100%, 50%);
}
div:nth-child(575) {
  background: hsl(350, 100%, 50%);
}
div:nth-child(574) {
  background: hsl(340, 100%, 50%);
}
div:nth-child(573) {
  background: hsl(330, 100%, 50%);
}
div:nth-child(572) {
  background: hsl(320, 100%, 50%);
}
div:nth-child(571) {
  background: hsl(310, 100%, 50%);
}
div:nth-child(570) {
  background: hsl(300, 100%, 50%);
}
div:nth-child(569) {
  background: hsl(290, 100%, 50%);
}
div:nth-child(568) {
  background: hsl(280, 100%, 50%);
}
div:nth-child(567) {
  background: hsl(270, 100%, 50%);
}
div:nth-child(566) {
  background: hsl(260, 100%, 50%);
}
div:nth-child(565) {
  background: hsl(250, 100%, 50%);
}
div:nth-child(564) {
  background: hsl(240, 100%, 50%);
}
div:nth-child(563) {
  background: hsl(230, 100%, 50%);
}
div:nth-child(562) {
  background: hsl(220, 100%, 50%);
}
div:nth-child(561) {
  background: hsl(210, 100%, 50%);
}
div:nth-child(560) {
  background: hsl(200, 100%, 50%);
}
div:nth-child(559) {
  background: hsl(190, 100%, 50%);
}
div:nth-child(558) {
  background: hsl(180, 100%, 50%);
}
div:nth-child(557) {
  background: hsl(170, 100%, 50%);
}
div:nth-child(556) {
  background: hsl(160, 100%, 50%);
}
div:nth-child(555) {
  background: hsl(150, 100%, 50%);
}
div:nth-child(554) {
  background: hsl(140, 100%, 50%);
}
div:nth-child(553) {
  background: hsl(130, 100%, 50%);
}
div:nth-child(552) {
  background: hsl(120, 100%, 50%);
}
div:nth-child(551) {
  background: hsl(110, 100%, 50%);
}
div:nth-child(550) {
  background: hsl(100, 100%, 50%);
}
div:nth-child(549) {
  background: hsl(90, 100%, 50%);
}
div:nth-child(548) {
  background: hsl(80, 100%, 50%);
}
div:nth-child(547) {
  background: hsl(70, 100%, 50%);
}
div:nth-child(546) {
  background: hsl(60, 100%, 50%);
}
div:nth-child(545) {
  background: hsl(50, 100%, 50%);
}
div:nth-child(544) {
  background: hsl(40, 100%, 50%);
}
div:nth-child(543) {
  background: hsl(30, 100%, 50%);
}
div:nth-child(542) {
  background: hsl(20, 100%, 50%);
}
div:nth-child(541) {
  background: hsl(10, 100%, 50%);
}
div:nth-child(540) {
  background: hsl(0, 100%, 50%);
}
div:nth-child(539) {
  background: hsl(350, 100%, 50%);
}
div:nth-child(538) {
  background: hsl(340, 100%, 50%);
}
div:nth-child(537) {
  background: hsl(330, 100%, 50%);
}
div:nth-child(536) {
  background: hsl(320, 100%, 50%);
}
div:nth-child(535) {
  background: hsl(310, 100%, 50%);
}
div:nth-child(534) {
  background: hsl(300, 100%, 50%);
}
div:nth-child(533) {
  background: hsl(290, 100%, 50%);
}
div:nth-child(532) {
  background: hsl(280, 100%, 50%);
}
div:nth-child(531) {
  background: hsl(270, 100%, 50%);
}
div:nth-child(530) {
  background: hsl(260, 100%, 50%);
}
div:nth-child(529) {
  background: hsl(250, 100%, 50%);
}
div:nth-child(528) {
  background: hsl(240, 100%, 50%);
}
div:nth-child(527) {
  background: hsl(230, 100%, 50%);
}
div:nth-child(526) {
  background: hsl(220, 100%, 50%);
}
div:nth-child(525) {
  background: hsl(210, 100%, 50%);
}
div:nth-child(524) {
  background: hsl(200, 100%, 50%);
}
div:nth-child(523) {
  background: hsl(190, 100%, 50%);
}
div:nth-child(522) {
  background: hsl(180, 100%, 50%);
}
div:nth-child(521) {
  background: hsl(170, 100%, 50%);
}
div:nth-child(520) {
  background: hsl(160, 100%, 50%);
}
div:nth-child(519) {
  background: hsl(150, 100%, 50%);
}
div:nth-child(518) {
  background: hsl(140, 100%, 50%);
}
div:nth-child(517) {
  background: hsl(130, 100%, 50%);
}
div:nth-child(516) {
  background: hsl(120, 100%, 50%);
}
div:nth-child(515) {
  background: hsl(110, 100%, 50%);
}
div:nth-child(514) {
  background: hsl(100, 100%, 50%);
}
div:nth-child(513) {
  background: hsl(90, 100%, 50%);
}
div:nth-child(512) {
  background: hsl(80, 100%, 50%);
}
div:nth-child(511) {
  background: hsl(70, 100%, 50%);
}
div:nth-child(510) {
  background: hsl(60, 100%, 50%);
}
div:nth-child(509) {
  background: hsl(50, 100%, 50%);
}
div:nth-child(508) {
  background: hsl(40, 100%, 50%);
}
div:nth-child(507) {
  background: hsl(30, 100%, 50%);
}
div:nth-child(506) {
  background: hsl(20, 100%, 50%);
}
div:nth-child(505) {
  background: hsl(10, 100%, 50%);
}
div:nth-child(504) {
  background: hsl(0, 100%, 50%);
}
div:nth-child(503) {
  background: hsl(350, 100%, 50%);
}
div:nth-child(502) {
  background: hsl(340, 100%, 50%);
}
div:nth-child(501) {
  background: hsl(330, 100%, 50%);
}
div:nth-child(500) {
  background: hsl(320, 100%, 50%);
}
div:nth-child(499) {
  background: hsl(310, 100%, 50%);
}
div:nth-child(498) {
  background: hsl(300, 100%, 50%);
}
div:nth-child(497) {
  background: hsl(290, 100%, 50%);
}
div:nth-child(496) {
  background: hsl(280, 100%, 50%);
}
div:nth-child(495) {
  background: hsl(270, 100%, 50%);
}
div:nth-child(494) {
  background: hsl(260, 100%, 50%);
}
div:nth-child(493) {
  background: hsl(250, 100%, 50%);
}
div:nth-child(492) {
  background: hsl(240, 100%, 50%);
}
div:nth-child(491) {
  background: hsl(230, 100%, 50%);
}
div:nth-child(490) {
  background: hsl(220, 100%, 50%);
}
div:nth-child(489) {
  background: hsl(210, 100%, 50%);
}
div:nth-child(488) {
  background: hsl(200, 100%, 50%);
}
div:nth-child(487) {
  background: hsl(190, 100%, 50%);
}
div:nth-child(486) {
  background: hsl(180, 100%, 50%);
}
div:nth-child(485) {
  background: hsl(170, 100%, 50%);
}
div:nth-child(484) {
  background: hsl(160, 100%, 50%);
}
div:nth-child(483) {
  background: hsl(150, 100%, 50%);
}
div:nth-child(482) {
  background: hsl(140, 100%, 50%);
}
div:nth-child(481) {
  background: hsl(130, 100%, 50%);
}
div:nth-child(480) {
  background: hsl(120, 100%, 50%);
}
div:nth-child(479) {
  background: hsl(110, 100%, 50%);
}
div:nth-child(478) {
  background: hsl(100, 100%, 50%);
}
div:nth-child(477) {
  background: hsl(90, 100%, 50%);
}
div:nth-child(476) {
  background: hsl(80, 100%, 50%);
}
div:nth-child(475) {
  background: hsl(70, 100%, 50%);
}
div:nth-child(474) {
  background: hsl(60, 100%, 50%);
}
div:nth-child(473) {
  background: hsl(50, 100%, 50%);
}
div:nth-child(472) {
  background: hsl(40, 100%, 50%);
}
div:nth-child(471) {
  background: hsl(30, 100%, 50%);
}
div:nth-child(470) {
  background: hsl(20, 100%, 50%);
}
div:nth-child(469) {
  background: hsl(10, 100%, 50%);
}
div:nth-child(468) {
  background: hsl(0, 100%, 50%);
}
div:nth-child(467) {
  background: hsl(350, 100%, 50%);
}
div:nth-child(466) {
  background: hsl(340, 100%, 50%);
}
div:nth-child(465) {
  background: hsl(330, 100%, 50%);
}
div:nth-child(464) {
  background: hsl(320, 100%, 50%);
}
div:nth-child(463) {
  background: hsl(310, 100%, 50%);
}
div:nth-child(462) {
  background: hsl(300, 100%, 50%);
}
div:nth-child(461) {
  background: hsl(290, 100%, 50%);
}
div:nth-child(460) {
  background: hsl(280, 100%, 50%);
}
div:nth-child(459) {
  background: hsl(270, 100%, 50%);
}
div:nth-child(458) {
  background: hsl(260, 100%, 50%);
}
div:nth-child(457) {
  background: hsl(250, 100%, 50%);
}
div:nth-child(456) {
  background: hsl(240, 100%, 50%);
}
div:nth-child(455) {
  background: hsl(230, 100%, 50%);
}
div:nth-child(454) {
  background: hsl(220, 100%, 50%);
}
div:nth-child(453) {
  background: hsl(210, 100%, 50%);
}
div:nth-child(452) {
  background: hsl(200, 100%, 50%);
}
div:nth-child(451) {
  background: hsl(190, 100%, 50%);
}
div:nth-child(450) {
  background: hsl(180, 100%, 50%);
}
div:nth-child(449) {
  background: hsl(170, 100%, 50%);
}
div:nth-child(448) {
  background: hsl(160, 100%, 50%);
}
div:nth-child(447) {
  background: hsl(150, 100%, 50%);
}
div:nth-child(446) {
  background: hsl(140, 100%, 50%);
}
div:nth-child(445) {
  background: hsl(130, 100%, 50%);
}
div:nth-child(444) {
  background: hsl(120, 100%, 50%);
}
div:nth-child(443) {
  background: hsl(110, 100%, 50%);
}
div:nth-child(442) {
  background: hsl(100, 100%, 50%);
}
div:nth-child(441) {
  background: hsl(90, 100%, 50%);
}
div:nth-child(440) {
  background: hsl(80, 100%, 50%);
}
div:nth-child(439) {
  background: hsl(70, 100%, 50%);
}
div:nth-child(438) {
  background: hsl(60, 100%, 50%);
}
div:nth-child(437) {
  background: hsl(50, 100%, 50%);
}
div:nth-child(436) {
  background: hsl(40, 100%, 50%);
}
div:nth-child(435) {
  background: hsl(30, 100%, 50%);
}
div:nth-child(434) {
  background: hsl(20, 100%, 50%);
}
div:nth-child(433) {
  background: hsl(10, 100%, 50%);
}
div:nth-child(432) {
  background: hsl(0, 100%, 50%);
}
div:nth-child(431) {
  background: hsl(350, 100%, 50%);
}
div:nth-child(430) {
  background: hsl(340, 100%, 50%);
}
div:nth-child(429) {
  background: hsl(330, 100%, 50%);
}
div:nth-child(428) {
  background: hsl(320, 100%, 50%);
}
div:nth-child(427) {
  background: hsl(310, 100%, 50%);
}
div:nth-child(426) {
  background: hsl(300, 100%, 50%);
}
div:nth-child(425) {
  background: hsl(290, 100%, 50%);
}
div:nth-child(424) {
  background: hsl(280, 100%, 50%);
}
div:nth-child(423) {
  background: hsl(270, 100%, 50%);
}
div:nth-child(422) {
  background: hsl(260, 100%, 50%);
}
div:nth-child(421) {
  background: hsl(250, 100%, 50%);
}
div:nth-child(420) {
  background: hsl(240, 100%, 50%);
}
div:nth-child(419) {
  background: hsl(230, 100%, 50%);
}
div:nth-child(418) {
  background: hsl(220, 100%, 50%);
}
div:nth-child(417) {
  background: hsl(210, 100%, 50%);
}
div:nth-child(416) {
  background: hsl(200, 100%, 50%);
}
div:nth-child(415) {
  background: hsl(190, 100%, 50%);
}
div:nth-child(414) {
  background: hsl(180, 100%, 50%);
}
div:nth-child(413) {
  background: hsl(170, 100%, 50%);
}
div:nth-child(412) {
  background: hsl(160, 100%, 50%);
}
div:nth-child(411) {
  background: hsl(150, 100%, 50%);
}
div:nth-child(410) {
  background: hsl(140, 100%, 50%);
}
div:nth-child(409) {
  background: hsl(130, 100%, 50%);
}
div:nth-child(408) {
  background: hsl(120, 100%, 50%);
}
div:nth-child(407) {
  background: hsl(110, 100%, 50%);
}
div:nth-child(406) {
  background: hsl(100, 100%, 50%);
}
div:nth-child(405) {
  background: hsl(90, 100%, 50%);
}
div:nth-child(404) {
  background: hsl(80, 100%, 50%);
}
div:nth-child(403) {
  background: hsl(70, 100%, 50%);
}
div:nth-child(402) {
  background: hsl(60, 100%, 50%);
}
div:nth-child(401) {
  background: hsl(50, 100%, 50%);
}
div:nth-child(400) {
  background: hsl(40, 100%, 50%);
}
div:nth-child(399) {
  background: hsl(30, 100%, 50%);
}
div:nth-child(398) {
  background: hsl(20, 100%, 50%);
}
div:nth-child(397) {
  background: hsl(10, 100%, 50%);
}
div:nth-child(396) {
  background: hsl(0, 100%, 50%);
}
div:nth-child(395) {
  background: hsl(350, 100%, 50%);
}
div:nth-child(394) {
  background: hsl(340, 100%, 50%);
}
div:nth-child(393) {
  background: hsl(330, 100%, 50%);
}
div:nth-child(392) {
  background: hsl(320, 100%, 50%);
}
div:nth-child(391) {
  background: hsl(310, 100%, 50%);
}
div:nth-child(390) {
  background: hsl(300, 100%, 50%);
}
div:nth-child(389) {
  background: hsl(290, 100%, 50%);
}
div:nth-child(388) {
  background: hsl(280, 100%, 50%);
}
div:nth-child(387) {
  background: hsl(270, 100%, 50%);
}
div:nth-child(386) {
  background: hsl(260, 100%, 50%);
}
div:nth-child(385) {
  background: hsl(250, 100%, 50%);
}
div:nth-child(384) {
  background: hsl(240, 100%, 50%);
}
div:nth-child(383) {
  background: hsl(230, 100%, 50%);
}
div:nth-child(382) {
  background: hsl(220, 100%, 50%);
}
div:nth-child(381) {
  background: hsl(210, 100%, 50%);
}
div:nth-child(380) {
  background: hsl(200, 100%, 50%);
}
div:nth-child(379) {
  background: hsl(190, 100%, 50%);
}
div:nth-child(378) {
  background: hsl(180, 100%, 50%);
}
div:nth-child(377) {
  background: hsl(170, 100%, 50%);
}
div:nth-child(376) {
  background: hsl(160, 100%, 50%);
}
div:nth-child(375) {
  background: hsl(150, 100%, 50%);
}
div:nth-child(374) {
  background: hsl(140, 100%, 50%);
}
div:nth-child(373) {
  background: hsl(130, 100%, 50%);
}
div:nth-child(372) {
  background: hsl(120, 100%, 50%);
}
div:nth-child(371) {
  background: hsl(110, 100%, 50%);
}
div:nth-child(370) {
  background: hsl(100, 100%, 50%);
}
div:nth-child(369) {
  background: hsl(90, 100%, 50%);
}
div:nth-child(368) {
  background: hsl(80, 100%, 50%);
}
div:nth-child(367) {
  background: hsl(70, 100%, 50%);
}
div:nth-child(366) {
  background: hsl(60, 100%, 50%);
}
div:nth-child(365) {
  background: hsl(50, 100%, 50%);
}
div:nth-child(364) {
  background: hsl(40, 100%, 50%);
}
div:nth-child(363) {
  background: hsl(30, 100%, 50%);
}
div:nth-child(362) {
  background: hsl(20, 100%, 50%);
}
div:nth-child(361) {
  background: hsl(10, 100%, 50%);
}
div:nth-child(360) {
  background: hsl(0, 100%, 50%);
}
div:nth-child(359) {
  background: hsl(350, 100%, 50%);
}
div:nth-child(358) {
  background: hsl(340, 100%, 50%);
}
div:nth-child(357) {
  background: hsl(330, 100%, 50%);
}
div:nth-child(356) {
  background: hsl(320, 100%, 50%);
}
div:nth-child(355) {
  background: hsl(310, 100%, 50%);
}
div:nth-child(354) {
  background: hsl(300, 100%, 50%);
}
div:nth-child(353) {
  background: hsl(290, 100%, 50%);
}
div:nth-child(352) {
  background: hsl(280, 100%, 50%);
}
div:nth-child(351) {
  background: hsl(270, 100%, 50%);
}
div:nth-child(350) {
  background: hsl(260, 100%, 50%);
}
div:nth-child(349) {
  background: hsl(250, 100%, 50%);
}
div:nth-child(348) {
  background: hsl(240, 100%, 50%);
}
div:nth-child(347) {
  background: hsl(230, 100%, 50%);
}
div:nth-child(346) {
  background: hsl(220, 100%, 50%);
}
div:nth-child(345) {
  background: hsl(210, 100%, 50%);
}
div:nth-child(344) {
  background: hsl(200, 100%, 50%);
}
div:nth-child(343) {
  background: hsl(190, 100%, 50%);
}
div:nth-child(342) {
  background: hsl(180, 100%, 50%);
}
div:nth-child(341) {
  background: hsl(170, 100%, 50%);
}
div:nth-child(340) {
  background: hsl(160, 100%, 50%);
}
div:nth-child(339) {
  background: hsl(150, 100%, 50%);
}
div:nth-child(338) {
  background: hsl(140, 100%, 50%);
}
div:nth-child(337) {
  background: hsl(130, 100%, 50%);
}
div:nth-child(336) {
  background: hsl(120, 100%, 50%);
}
div:nth-child(335) {
  background: hsl(110, 100%, 50%);
}
div:nth-child(334) {
  background: hsl(100, 100%, 50%);
}
div:nth-child(333) {
  background: hsl(90, 100%, 50%);
}
div:nth-child(332) {
  background: hsl(80, 100%, 50%);
}
div:nth-child(331) {
  background: hsl(70, 100%, 50%);
}
div:nth-child(330) {
  background: hsl(60, 100%, 50%);
}
div:nth-child(329) {
  background: hsl(50, 100%, 50%);
}
div:nth-child(328) {
  background: hsl(40, 100%, 50%);
}
div:nth-child(327) {
  background: hsl(30, 100%, 50%);
}
div:nth-child(326) {
  background: hsl(20, 100%, 50%);
}
div:nth-child(325) {
  background: hsl(10, 100%, 50%);
}
div:nth-child(324) {
  background: hsl(0, 100%, 50%);
}
div:nth-child(323) {
  background: hsl(350, 100%, 50%);
}
div:nth-child(322) {
  background: hsl(340, 100%, 50%);
}
div:nth-child(321) {
  background: hsl(330, 100%, 50%);
}
div:nth-child(320) {
  background: hsl(320, 100%, 50%);
}
div:nth-child(319) {
  background: hsl(310, 100%, 50%);
}
div:nth-child(318) {
  background: hsl(300, 100%, 50%);
}
div:nth-child(317) {
  background: hsl(290, 100%, 50%);
}
div:nth-child(316) {
  background: hsl(280, 100%, 50%);
}
div:nth-child(315) {
  background: hsl(270, 100%, 50%);
}
div:nth-child(314) {
  background: hsl(260, 100%, 50%);
}
div:nth-child(313) {
  background: hsl(250, 100%, 50%);
}
div:nth-child(312) {
  background: hsl(240, 100%, 50%);
}
div:nth-child(311) {
  background: hsl(230, 100%, 50%);
}
div:nth-child(310) {
  background: hsl(220, 100%, 50%);
}
div:nth-child(309) {
  background: hsl(210, 100%, 50%);
}
div:nth-child(308) {
  background: hsl(200, 100%, 50%);
}
div:nth-child(307) {
  background: hsl(190, 100%, 50%);
}
div:nth-child(306) {
  background: hsl(180, 100%, 50%);
}
div:nth-child(305) {
  background: hsl(170, 100%, 50%);
}
div:nth-child(304) {
  background: hsl(160, 100%, 50%);
}
div:nth-child(303) {
  background: hsl(150, 100%, 50%);
}
div:nth-child(302) {
  background: hsl(140, 100%, 50%);
}
div:nth-child(301) {
  background: hsl(130, 100%, 50%);
}
div:nth-child(300) {
  background: hsl(120, 100%, 50%);
}
div:nth-child(299) {
  background: hsl(110, 100%, 50%);
}
div:nth-child(298) {
  background: hsl(100, 100%, 50%);
}
div:nth-child(297) {
  background: hsl(90, 100%, 50%);
}
div:nth-child(296) {
  background: hsl(80, 100%, 50%);
}
div:nth-child(295) {
  background: hsl(70, 100%, 50%);
}
div:nth-child(294) {
  background: hsl(60, 100%, 50%);
}
div:nth-child(293) {
  background: hsl(50, 100%, 50%);
}
div:nth-child(292) {
  background: hsl(40, 100%, 50%);
}
div:nth-child(291) {
  background: hsl(30, 100%, 50%);
}
div:nth-child(290) {
  background: hsl(20, 100%, 50%);
}
div:nth-child(289) {
  background: hsl(10, 100%, 50%);
}
div:nth-child(288) {
  background: hsl(0, 100%, 50%);
}
div:nth-child(287) {
  background: hsl(350, 100%, 50%);
}
div:nth-child(286) {
  background: hsl(340, 100%, 50%);
}
div:nth-child(285) {
  background: hsl(330, 100%, 50%);
}
div:nth-child(284) {
  background: hsl(320, 100%, 50%);
}
div:nth-child(283) {
  background: hsl(310, 100%, 50%);
}
div:nth-child(282) {
  background: hsl(300, 100%, 50%);
}
div:nth-child(281) {
  background: hsl(290, 100%, 50%);
}
div:nth-child(280) {
  background: hsl(280, 100%, 50%);
}
div:nth-child(279) {
  background: hsl(270, 100%, 50%);
}
div:nth-child(278) {
  background: hsl(260, 100%, 50%);
}
div:nth-child(277) {
  background: hsl(250, 100%, 50%);
}
div:nth-child(276) {
  background: hsl(240, 100%, 50%);
}
div:nth-child(275) {
  background: hsl(230, 100%, 50%);
}
div:nth-child(274) {
  background: hsl(220, 100%, 50%);
}
div:nth-child(273) {
  background: hsl(210, 100%, 50%);
}
div:nth-child(272) {
  background: hsl(200, 100%, 50%);
}
div:nth-child(271) {
  background: hsl(190, 100%, 50%);
}
div:nth-child(270) {
  background: hsl(180, 100%, 50%);
}
div:nth-child(269) {
  background: hsl(170, 100%, 50%);
}
div:nth-child(268) {
  background: hsl(160, 100%, 50%);
}
div:nth-child(267) {
  background: hsl(150, 100%, 50%);
}
div:nth-child(266) {
  background: hsl(140, 100%, 50%);
}
div:nth-child(265) {
  background: hsl(130, 100%, 50%);
}
div:nth-child(264) {
  background: hsl(120, 100%, 50%);
}
div:nth-child(263) {
  background: hsl(110, 100%, 50%);
}
div:nth-child(262) {
  background: hsl(100, 100%, 50%);
}
div:nth-child(261) {
  background: hsl(90, 100%, 50%);
}
div:nth-child(260) {
  background: hsl(80, 100%, 50%);
}
div:nth-child(259) {
  background: hsl(70, 100%, 50%);
}
div:nth-child(258) {
  background: hsl(60, 100%, 50%);
}
div:nth-child(257) {
  background: hsl(50, 100%, 50%);
}
div:nth-child(256) {
  background: hsl(40, 100%, 50%);
}
div:nth-child(255) {
  background: hsl(30, 100%, 50%);
}
div:nth-child(254) {
  background: hsl(20, 100%, 50%);
}
div:nth-child(253) {
  background: hsl(10, 100%, 50%);
}
div:nth-child(252) {
  background: hsl(0, 100%, 50%);
}
div:nth-child(251) {
  background: hsl(350, 100%, 50%);
}
div:nth-child(250) {
  background: hsl(340, 100%, 50%);
}
div:nth-child(249) {
  background: hsl(330, 100%, 50%);
}
div:nth-child(248) {
  background: hsl(320, 100%, 50%);
}
div:nth-child(247) {
  background: hsl(310, 100%, 50%);
}
div:nth-child(246) {
  background: hsl(300, 100%, 50%);
}
div:nth-child(245) {
  background: hsl(290, 100%, 50%);
}
div:nth-child(244) {
  background: hsl(280, 100%, 50%);
}
div:nth-child(243) {
  background: hsl(270, 100%, 50%);
}
div:nth-child(242) {
  background: hsl(260, 100%, 50%);
}
div:nth-child(241) {
  background: hsl(250, 100%, 50%);
}
div:nth-child(240) {
  background: hsl(240, 100%, 50%);
}
div:nth-child(239) {
  background: hsl(230, 100%, 50%);
}
div:nth-child(238) {
  background: hsl(220, 100%, 50%);
}
div:nth-child(237) {
  background: hsl(210, 100%, 50%);
}
div:nth-child(236) {
  background: hsl(200, 100%, 50%);
}
div:nth-child(235) {
  background: hsl(190, 100%, 50%);
}
div:nth-child(234) {
  background: hsl(180, 100%, 50%);
}
div:nth-child(233) {
  background: hsl(170, 100%, 50%);
}
div:nth-child(232) {
  background: hsl(160, 100%, 50%);
}
div:nth-child(231) {
  background: hsl(150, 100%, 50%);
}
div:nth-child(230) {
  background: hsl(140, 100%, 50%);
}
div:nth-child(229) {
  background: hsl(130, 100%, 50%);
}
div:nth-child(228) {
  background: hsl(120, 100%, 50%);
}
div:nth-child(227) {
  background: hsl(110, 100%, 50%);
}
div:nth-child(226) {
  background: hsl(100, 100%, 50%);
}
div:nth-child(225) {
  background: hsl(90, 100%, 50%);
}
div:nth-child(224) {
  background: hsl(80, 100%, 50%);
}
div:nth-child(223) {
  background: hsl(70, 100%, 50%);
}
div:nth-child(222) {
  background: hsl(60, 100%, 50%);
}
div:nth-child(221) {
  background: hsl(50, 100%, 50%);
}
div:nth-child(220) {
  background: hsl(40, 100%, 50%);
}
div:nth-child(219) {
  background: hsl(30, 100%, 50%);
}
div:nth-child(218) {
  background: hsl(20, 100%, 50%);
}
div:nth-child(217) {
  background: hsl(10, 100%, 50%);
}
div:nth-child(216) {
  background: hsl(0, 100%, 50%);
}
div:nth-child(215) {
  background: hsl(350, 100%, 50%);
}
div:nth-child(214) {
  background: hsl(340, 100%, 50%);
}
div:nth-child(213) {
  background: hsl(330, 100%, 50%);
}
div:nth-child(212) {
  background: hsl(320, 100%, 50%);
}
div:nth-child(211) {
  background: hsl(310, 100%, 50%);
}
div:nth-child(210) {
  background: hsl(300, 100%, 50%);
}
div:nth-child(209) {
  background: hsl(290, 100%, 50%);
}
div:nth-child(208) {
  background: hsl(280, 100%, 50%);
}
div:nth-child(207) {
  background: hsl(270, 100%, 50%);
}
div:nth-child(206) {
  background: hsl(260, 100%, 50%);
}
div:nth-child(205) {
  background: hsl(250, 100%, 50%);
}
div:nth-child(204) {
  background: hsl(240, 100%, 50%);
}
div:nth-child(203) {
  background: hsl(230, 100%, 50%);
}
div:nth-child(202) {
  background: hsl(220, 100%, 50%);
}
div:nth-child(201) {
  background: hsl(210, 100%, 50%);
}
div:nth-child(200) {
  background: hsl(200, 100%, 50%);
}
div:nth-child(199) {
  background: hsl(190, 100%, 50%);
}
div:nth-child(198) {
  background: hsl(180, 100%, 50%);
}
div:nth-child(197) {
  background: hsl(170, 100%, 50%);
}
div:nth-child(196) {
  background: hsl(160, 100%, 50%);
}
div:nth-child(195) {
  background: hsl(150, 100%, 50%);
}
div:nth-child(194) {
  background: hsl(140, 100%, 50%);
}
div:nth-child(193) {
  background: hsl(130, 100%, 50%);
}
div:nth-child(192) {
  background: hsl(120, 100%, 50%);
}
div:nth-child(191) {
  background: hsl(110, 100%, 50%);
}
div:nth-child(190) {
  background: hsl(100, 100%, 50%);
}
div:nth-child(189) {
  background: hsl(90, 100%, 50%);
}
div:nth-child(188) {
  background: hsl(80, 100%, 50%);
}
div:nth-child(187) {
  background: hsl(70, 100%, 50%);
}
div:nth-child(186) {
  background: hsl(60, 100%, 50%);
}
div:nth-child(185) {
  background: hsl(50, 100%, 50%);
}
div:nth-child(184) {
  background: hsl(40, 100%, 50%);
}
div:nth-child(183) {
  background: hsl(30, 100%, 50%);
}
div:nth-child(182) {
  background: hsl(20, 100%, 50%);
}
div:nth-child(181) {
  background: hsl(10, 100%, 50%);
}
div:nth-child(180) {
  background: hsl(0, 100%, 50%);
}
div:nth-child(179) {
  background: hsl(350, 100%, 50%);
}
div:nth-child(178) {
  background: hsl(340, 100%, 50%);
}
div:nth-child(177) {
  background: hsl(330, 100%, 50%);
}
div:nth-child(176) {
  background: hsl(320, 100%, 50%);
}
div:nth-child(175) {
  background: hsl(310, 100%, 50%);
}
div:nth-child(174) {
  background: hsl(300, 100%, 50%);
}
div:nth-child(173) {
  background: hsl(290, 100%, 50%);
}
div:nth-child(172) {
  background: hsl(280, 100%, 50%);
}
div:nth-child(171) {
  background: hsl(270, 100%, 50%);
}
div:nth-child(170) {
  background: hsl(260, 100%, 50%);
}
div:nth-child(169) {
  background: hsl(250, 100%, 50%);
}
div:nth-child(168) {
  background: hsl(240, 100%, 50%);
}
div:nth-child(167) {
  background: hsl(230, 100%, 50%);
}
div:nth-child(166) {
  background: hsl(220, 100%, 50%);
}
div:nth-child(165) {
  background: hsl(210, 100%, 50%);
}
div:nth-child(164) {
  background: hsl(200, 100%, 50%);
}
div:nth-child(163) {
  background: hsl(190, 100%, 50%);
}
div:nth-child(162) {
  background: hsl(180, 100%, 50%);
}
div:nth-child(161) {
  background: hsl(170, 100%, 50%);
}
div:nth-child(160) {
  background: hsl(160, 100%, 50%);
}
div:nth-child(159) {
  background: hsl(150, 100%, 50%);
}
div:nth-child(158) {
  background: hsl(140, 100%, 50%);
}
div:nth-child(157) {
  background: hsl(130, 100%, 50%);
}
div:nth-child(156) {
  background: hsl(120, 100%, 50%);
}
div:nth-child(155) {
  background: hsl(110, 100%, 50%);
}
div:nth-child(154) {
  background: hsl(100, 100%, 50%);
}
div:nth-child(153) {
  background: hsl(90, 100%, 50%);
}
div:nth-child(152) {
  background: hsl(80, 100%, 50%);
}
div:nth-child(151) {
  background: hsl(70, 100%, 50%);
}
div:nth-child(150) {
  background: hsl(60, 100%, 50%);
}
div:nth-child(149) {
  background: hsl(50, 100%, 50%);
}
div:nth-child(148) {
  background: hsl(40, 100%, 50%);
}
div:nth-child(147) {
  background: hsl(30, 100%, 50%);
}
div:nth-child(146) {
  background: hsl(20, 100%, 50%);
}
div:nth-child(145) {
  background: hsl(10, 100%, 50%);
}
div:nth-child(144) {
  background: hsl(0, 100%, 50%);
}
div:nth-child(143) {
  background: hsl(350, 100%, 50%);
}
div:nth-child(142) {
  background: hsl(340, 100%, 50%);
}
div:nth-child(141) {
  background: hsl(330, 100%, 50%);
}
div:nth-child(140) {
  background: hsl(320, 100%, 50%);
}
div:nth-child(139) {
  background: hsl(310, 100%, 50%);
}
div:nth-child(138) {
  background: hsl(300, 100%, 50%);
}
div:nth-child(137) {
  background: hsl(290, 100%, 50%);
}
div:nth-child(136) {
  background: hsl(280, 100%, 50%);
}
div:nth-child(135) {
  background: hsl(270, 100%, 50%);
}
div:nth-child(134) {
  background: hsl(260, 100%, 50%);
}
div:nth-child(133) {
  background: hsl(250, 100%, 50%);
}
div:nth-child(132) {
  background: hsl(240, 100%, 50%);
}
div:nth-child(131) {
  background: hsl(230, 100%, 50%);
}
div:nth-child(130) {
  background: hsl(220, 100%, 50%);
}
div:nth-child(129) {
  background: hsl(210, 100%, 50%);
}
div:nth-child(128) {
  background: hsl(200, 100%, 50%);
}
div:nth-child(127) {
  background: hsl(190, 100%, 50%);
}
div:nth-child(126) {
  background: hsl(180, 100%, 50%);
}
div:nth-child(125) {
  background: hsl(170, 100%, 50%);
}
div:nth-child(124) {
  background: hsl(160, 100%, 50%);
}
div:nth-child(123) {
  background: hsl(150, 100%, 50%);
}
div:nth-child(122) {
  background: hsl(140, 100%, 50%);
}
div:nth-child(121) {
  background: hsl(130, 100%, 50%);
}
div:nth-child(120) {
  background: hsl(120, 100%, 50%);
}
div:nth-child(119) {
  background: hsl(110, 100%, 50%);
}
div:nth-child(118) {
  background: hsl(100, 100%, 50%);
}
div:nth-child(117) {
  background: hsl(90, 100%, 50%);
}
div:nth-child(116) {
  background: hsl(80, 100%, 50%);
}
div:nth-child(115) {
  background: hsl(70, 100%, 50%);
}
div:nth-child(114) {
  background: hsl(60, 100%, 50%);
}
div:nth-child(113) {
  background: hsl(50, 100%, 50%);
}
div:nth-child(112) {
  background: hsl(40, 100%, 50%);
}
div:nth-child(111) {
  background: hsl(30, 100%, 50%);
}
div:nth-child(110) {
  background: hsl(20, 100%, 50%);
}
div:nth-child(109) {
  background: hsl(10, 100%, 50%);
}
div:nth-child(108) {
  background: hsl(0, 100%, 50%);
}
div:nth-child(107) {
  background: hsl(350, 100%, 50%);
}
div:nth-child(106) {
  background: hsl(340, 100%, 50%);
}
div:nth-child(105) {
  background: hsl(330, 100%, 50%);
}
div:nth-child(104) {
  background: hsl(320, 100%, 50%);
}
div:nth-child(103) {
  background: hsl(310, 100%, 50%);
}
div:nth-child(102) {
  background: hsl(300, 100%, 50%);
}
div:nth-child(101) {
  background: hsl(290, 100%, 50%);
}
div:nth-child(100) {
  background: hsl(280, 100%, 50%);
}
div:nth-child(99) {
  background: hsl(270, 100%, 50%);
}
div:nth-child(98) {
  background: hsl(260, 100%, 50%);
}
div:nth-child(97) {
  background: hsl(250, 100%, 50%);
}
div:nth-child(96) {
  background: hsl(240, 100%, 50%);
}
div:nth-child(95) {
  background: hsl(230, 100%, 50%);
}
div:nth-child(94) {
  background: hsl(220, 100%, 50%);
}
div:nth-child(93) {
  background: hsl(210, 100%, 50%);
}
div:nth-child(92) {
  background: hsl(200, 100%, 50%);
}
div:nth-child(91) {
  background: hsl(190, 100%, 50%);
}
div:nth-child(90) {
  background: hsl(180, 100%, 50%);
}
div:nth-child(89) {
  background: hsl(170, 100%, 50%);
}
div:nth-child(88) {
  background: hsl(160, 100%, 50%);
}
div:nth-child(87) {
  background: hsl(150, 100%, 50%);
}
div:nth-child(86) {
  background: hsl(140, 100%, 50%);
}
div:nth-child(85) {
  background: hsl(130, 100%, 50%);
}
div:nth-child(84) {
  background: hsl(120, 100%, 50%);
}
div:nth-child(83) {
  background: hsl(110, 100%, 50%);
}
div:nth-child(82) {
  background: hsl(100, 100%, 50%);
}
div:nth-child(81) {
  background: hsl(90, 100%, 50%);
}
div:nth-child(80) {
  background: hsl(80, 100%, 50%);
}
div:nth-child(79) {
  background: hsl(70, 100%, 50%);
}
div:nth-child(78) {
  background: hsl(60, 100%, 50%);
}
div:nth-child(77) {
  background: hsl(50, 100%, 50%);
}
div:nth-child(76) {
  background: hsl(40, 100%, 50%);
}
div:nth-child(75) {
  background: hsl(30, 100%, 50%);
}
div:nth-child(74) {
  background: hsl(20, 100%, 50%);
}
div:nth-child(73) {
  background: hsl(10, 100%, 50%);
}
div:nth-child(72) {
  background: hsl(0, 100%, 50%);
}
div:nth-child(71) {
  background: hsl(350, 100%, 50%);
}
div:nth-child(70) {
  background: hsl(340, 100%, 50%);
}
div:nth-child(69) {
  background: hsl(330, 100%, 50%);
}
div:nth-child(68) {
  background: hsl(320, 100%, 50%);
}
div:nth-child(67) {
  background: hsl(310, 100%, 50%);
}
div:nth-child(66) {
  background: hsl(300, 100%, 50%);
}
div:nth-child(65) {
  background: hsl(290, 100%, 50%);
}
div:nth-child(64) {
  background: hsl(280, 100%, 50%);
}
div:nth-child(63) {
  background: hsl(270, 100%, 50%);
}
div:nth-child(62) {
  background: hsl(260, 100%, 50%);
}
div:nth-child(61) {
  background: hsl(250, 100%, 50%);
}
div:nth-child(60) {
  background: hsl(240, 100%, 50%);
}
div:nth-child(59) {
  background: hsl(230, 100%, 50%);
}
div:nth-child(58) {
  background: hsl(220, 100%, 50%);
}
div:nth-child(57) {
  background: hsl(210, 100%, 50%);
}
div:nth-child(56) {
  background: hsl(200, 100%, 50%);
}
div:nth-child(55) {
  background: hsl(190, 100%, 50%);
}
div:nth-child(54) {
  background: hsl(180, 100%, 50%);
}
div:nth-child(53) {
  background: hsl(170, 100%, 50%);
}
div:nth-child(52) {
  background: hsl(160, 100%, 50%);
}
div:nth-child(51) {
  background: hsl(150, 100%, 50%);
}
div:nth-child(50) {
  background: hsl(140, 100%, 50%);
}
div:nth-child(49) {
  background: hsl(130, 100%, 50%);
}
div:nth-child(48) {
  background: hsl(120, 100%, 50%);
}
div:nth-child(47) {
  background: hsl(110, 100%, 50%);
}
div:nth-child(46) {
  background: hsl(100, 100%, 50%);
}
div:nth-child(45) {
  background: hsl(90, 100%, 50%);
}
div:nth-child(44) {
  background: hsl(80, 100%, 50%);
}
div:nth-child(43) {
  background: hsl(70, 100%, 50%);
}
div:nth-child(42) {
  background: hsl(60, 100%, 50%);
}
div:nth-child(41) {
  background: hsl(50, 100%, 50%);
}
div:nth-child(40) {
  background: hsl(40, 100%, 50%);
}
div:nth-child(39) {
  background: hsl(30, 100%, 50%);
}
div:nth-child(38) {
  background: hsl(20, 100%, 50%);
}
div:nth-child(37) {
  background: hsl(10, 100%, 50%);
}
div:nth-child(36) {
  background: hsl(0, 100%, 50%);
}
div:nth-child(35) {
  background: hsl(350, 100%, 50%);
}
div:nth-child(34) {
  background: hsl(340, 100%, 50%);
}
div:nth-child(33) {
  background: hsl(330, 100%, 50%);
}
div:nth-child(32) {
  background: hsl(320, 100%, 50%);
}
div:nth-child(31) {
  background: hsl(310, 100%, 50%);
}
div:nth-child(30) {
  background: hsl(300, 100%, 50%);
}
div:nth-child(29) {
  background: hsl(290, 100%, 50%);
}
div:nth-child(28) {
  background: hsl(280, 100%, 50%);
}
div:nth-child(27) {
  background: hsl(270, 100%, 50%);
}
div:nth-child(26) {
  background: hsl(260, 100%, 50%);
}
div:nth-child(25) {
  background: hsl(250, 100%, 50%);
}
div:nth-child(24) {
  background: hsl(240, 100%, 50%);
}
div:nth-child(23) {
  background: hsl(230, 100%, 50%);
}
div:nth-child(22) {
  background: hsl(220, 100%, 50%);
}
div:nth-child(21) {
  background: hsl(210, 100%, 50%);
}
div:nth-child(20) {
  background: hsl(200, 100%, 50%);
}
div:nth-child(19) {
  background: hsl(190, 100%, 50%);
}
div:nth-child(18) {
  background: hsl(180, 100%, 50%);
}
div:nth-child(17) {
  background: hsl(170, 100%, 50%);
}
div:nth-child(16) {
  background: hsl(160, 100%, 50%);
}
div:nth-child(15) {
  background: hsl(150, 100%, 50%);
}
div:nth-child(14) {
  background: hsl(140, 100%, 50%);
}
div:nth-child(13) {
  background: hsl(130, 100%, 50%);
}
div:nth-child(12) {
  background: hsl(120, 100%, 50%);
}
div:nth-child(11) {
  background: hsl(110, 100%, 50%);
}
div:nth-child(10) {
  background: hsl(100, 100%, 50%);
}
div:nth-child(9) {
  background: hsl(90, 100%, 50%);
}
div:nth-child(8) {
  background: hsl(80, 100%, 50%);
}
div:nth-child(7) {
  background: hsl(70, 100%, 50%);
}
div:nth-child(6) {
  background: hsl(60, 100%, 50%);
}
div:nth-child(5) {
  background: hsl(50, 100%, 50%);
}
div:nth-child(4) {
  background: hsl(40, 100%, 50%);
}
div:nth-child(3) {
  background: hsl(30, 100%, 50%);
}
div:nth-child(2) {
  background: hsl(20, 100%, 50%);
}
div:nth-child(1) {
  background: hsl(10, 100%, 50%);
}
